/* adding my font */
@font-face {
    font-family: "customfont";
    src: url("../assets/fonts/LibreFranklin-VariableFont_wght.ttf");
}
/* Css resset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Setting the body elements */
body{
    background-color: #f2f2f2;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Basics of navigation bar */
nav{
    height: 10rem;
    background-color: #f3f3f3;
    padding-inline: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* setting the logo  */
nav .logo img{
    height: 6rem;
    width: 12rem;
}
/* setting list of other pages  */
.hero-list-pages{

}
.hero-list-pages .list-pages{
    display: flex;
    gap: 1.45rem;
    list-style-type: none;
    
}
.hero-list-pages .list-pages a{
    text-decoration: none;
    color: #545454;
    font-size: 1.35rem;
}

/* Setting the icons */
.list-icons{
    display: flex;
    gap: 1.66rem;
    align-items: center;
    justify-items: center;
}

.list-icons ul{
    display: flex;
    gap: .98rem;
    flex-direction: row;
    list-style-type: none;
}
/* Setting LOG IN icon */
.list-icons .log-in{
    height: 3rem;
    width: 6rem;
    border-radius: .58rem;
    background-color: #131118;
    color: #f3f3f3;
    font-size: 1.3rem;
    text-transform: uppercase;

}
.list-icons .log-in:hover{
    cursor: pointer;
}

/* setting hero Section  */
.hero-section{
    padding-inline: 5rem;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 500px;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10rem;
}
/* setting hero Section  explanition*/
.hero-section .hero-section-explanition{
    padding-top: 3rem;
    width: 350px;
    height: 400px;
    align-items: center;
    
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}
.hero-section .hero-section-explanition h3{
    padding-top: 1rem;
    font-weight: 300;
}
.hero-section .hero-section-explanition p{
    text-transform: uppercase;
}
/* setting hero Section  explanition buttom shop now*/
.hero-section .hero-section-explanition .shop-now{
    height: 3rem;
    width: 10rem;
    border-radius: .58rem;
    background-color: #131118;
    color: #f3f3f3;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
.hero-section .hero-section-explanition .shop-now:hover{
    cursor: pointer;
}
/* setting hero Section  master-image*/
.hero-section .master-image{
    width: 400px;
    height: 400px;

    align-items: center;
    margin: 2rem;
}
.hero-section .master-image img{
    width: 90%;
    height: 100%;
    filter: grayscale(100%);
}
